RUN set -e; \
    case "${ARCH}" in \
{{- range .Platforms}}
        {{.Arch}}) \
            url="{{.DownloadURL}}"; \
            sha256="{{.Checksum}}"; \
            extract="{{.Extract}}" \
            ;; \
{{- end}}
        *) echo "unsupported architecture: ${ARCH}" >&2; exit 1 ;; \
    esac; \
    export TMP_DIR="/tmp/extract_{{.Name}}"; \
    export TMP_FILE="${TMP_DIR}/{{.Name}}{{.ArchiveExt}}"; \
    mkdir -p "${TMP_DIR}"; \
    echo "Downloading {{.Name}} archive from ${url}..."; \
    curl -fsSL --retry 3 --retry-delay 5 --retry-all-errors "${url}" > "${TMP_FILE}"; \
    printf "%s  %s\n" "${sha256}" "${TMP_FILE}" > "${TMP_DIR}/checksum.sha256"; \
    sha256sum -c "${TMP_DIR}/checksum.sha256"; \
    {{extractCmd .ArchiveExt}};
RUN useradd -m suse; \
    if [ ! -f /etc/sudoers ]; then touch /etc/sudoers; fi; \
    echo "suse ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers;
RUN if [ "{{.Name}}" = "nix" ]; then \
        TMP_DIR="/tmp/extract_{{.Name}}"; \
        sudo mkdir -p /etc/nix && \
        printf "build-users-group =\nsandbox = false\nfilter-syscalls = false\n" > /etc/nix/nix.conf && \
        sudo chown -R suse:users /etc/nix; \
        sudo chown -R suse:users "${TMP_DIR}"; \
        sudo mkdir -p /nix && \
        sudo chown -R suse:users /nix; \
        echo 'source /home/suse/.nix-profile/etc/profile.d/nix.sh' > /etc/profile.d/nix.sh; \
        echo 'source /home/suse/.nix-profile/etc/profile.d/nix.sh' > /etc/bash.bashrc.local; \
    fi;
USER suse
WORKDIR /home/suse
ENV USER=suse
RUN set -e; \
    case "${ARCH}" in \
{{- range .Platforms}}
        {{.Arch}}) \
            url="{{.DownloadURL}}"; \
            sha256="{{.Checksum}}"; \
            extract="{{.Extract}}" \
            ;; \
{{- end}}
        *) echo "unsupported architecture: ${ARCH}" >&2; exit 1 ;; \
    esac; \
  if [ "{{.Name}}" = "nix" ]; then \
      TMP_DIR="/tmp/extract_{{.Name}}"; \
      ${TMP_DIR}/${extract} --no-daemon; \
    else \
      TMP_DIR="/tmp/extract_{{.Name}}"; \
      ${TMP_DIR}/${extract}; \
    fi;
USER root
ENV USER=root
